:root{/*variavéis de cores do style geral*/
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;/*Flexivilidade da div*/
    flex-direction: row;/*Direção em linhas dos elementos*/
    align-items: center;/*Alinhamento no eixo x*/
    justify-content: space-between;/*Alinhamento no eixo y*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('/img/capa-house.jpg');/*Imagem principal como background + gradient*/

    height: 500px;
    background-size: cover;/*Para imagem ir para trás do texto*/

    display: flex;/*Flexivilidade da div*/
    flex-direction: column;/*Direção em colunas dos elementos*/
    justify-content: center;/*Alinhamento no eixo y*/
    align-items: flex-start;/*Alinhamento no eixo x*/
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}